@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2? family=Calaballette&display=swap');


/*TITULO PRINCIPAL*/
h1 {
    font-family: 'Lobster', cursive;
    font-size: 95px;
    color: rgb(6, 62, 95);
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px  0px 0px white;
               /*0px  3px 0px black,
              -3px  0px 0px black,
               0px -3px 0px black;*/
}
.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:rgb(112, 12, 12);
     font-size: 30px;
     position: absolute;
     top: 140px;
     left: 50%;
     transform: translate(-50%, -50%);
}

/*MENU HORIZONTAL*/

nav{
    height: 200px;
    float: center;
    word-spacing: 10%;
    text-align: center;
}
nav ul{
    overflow: hidden; 
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    text-align: center;
    width: 10em;
}
nav ul li a {
    display: block; 
    padding: 4px;
    color: #000000;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }
  nav ul li:hover {
    background: #eca023;
  }


